.search_notfound{
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100%;

  .message{
    font-size: 1em;
  }
}

.search_wrapper{
  display:grid;
  grid-template-columns: repeat(5, 17%);
  grid-gap: 30px 3%;
  justify-content: center;
  width: calc(100% - 30px);
  margin-bottom: 30px;
  overflow-x: hidden;
}

.search_item{
  position: relative;
  height: 300px;
  overflow:hidden;

  &:hover{
    .item_info{
      top: 0;
      visibility: visible;
      opacity: .9;
    }
  }

}

.item{
  
  &_image{
    width: 100%;
    height: auto;
  }

  &_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: #464962;
    transition: ease all 500ms;
    visibility: hidden;
    opacity: 0;

    &__like{
      width: 30px;
      height: 30px;
      padding: 0;
      position: absolute;
      top: 15px;
      right: 15px;
      background: no-repeat center center / 27px 27px;
      background-image: url("/img/like.svg");

      &:hover{
        background-image: url("/img/like-hover.svg");
        cursor:pointer;
      }
    }

    &__bottom{
      position: absolute;
      bottom: 5px;
      padding: 5px;
    }

    &__title{
      font-size: .65em;

    }

    &__year{
      font-size: .5em;
      margin: 5px 0 0;
    }
  }
}