.internalpage {
  background: no-repeat center center / cover;

  .wrapper{
    display: grid;
    grid-template-columns: auto 300px;
    gap: 20px;
    align-items: center;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
  }

  .title{
    font-size: 1.5em;
  }

  .info, .poster{
    display: flex;
    flex-direction: column;
    height: 80%;
  }

  .info{
    &_top{
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;

      .year{
        margin: 0;
      }
    }
  }

  .poster {
    &_image{
      width: 260px;
      height: auto;
      margin-bottom: 20px;
    }

  }

  .section_title{
    font-size: .5em;
  }
  
  .section_text{
    font-size: .4em;
  }
}