.info_desc{
  display: grid;
  grid-template-areas: 'plot plot plot' 'cast genre director';
  grid-template-columns: repeat(3, 33.333%);
  grid-gap: 15px 10px;

  &__plot{
    grid-area: plot;
  }

  &__cast{
    grid-area:cast ;
  }

  &__genre{
    grid-area: genre;
  }

  &__director{
    grid-area: director;
  }

  h2{
    font-size: .5em;
  }
  p{
    font-size: .4em;
  }
}