@import '../../../sass/responsive.scss';

.section_title{
  font-size: .5em;
  color: #999;
}

.section_text{
  font-size: .4em;
  margin: 10px 0 25px;
}

@include smartphone-small{
  .section_title{
    font-size: .6em;
  }

  .section_text{
    font-size: .5em;
  }
}

