@import '../../../sass/responsive.scss';

.section_title{
  font-size: .5em;
}

.section_text{
  font-size: .4em;
}

@include smartphone-small{
  .section_title{
    font-size: .6em;
  }

  .section_text{
    font-size: .5em;
  }
}

